body {
    background-color: #282828;
    color: #FFF;
}

.header {
    height: 80px;
    background-color: #0B0B0B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #282828;
}

.header .soon {
    display: flex;
    gap: 15px;
}

.header .menu {
    display: flex;
    gap: 30px;
}

.header .menu li a {
    padding: 30px;
    color: #E8E8E8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Chalet';
}

.header .menu li a:hover{
    border-bottom: 2px solid #FFF;
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.home::after {
    background-color: aqua;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0, .85), rgba(0,0,0, .7) 35%, transparent 65%);
}

.home .background-home {
    width: 100%;
    object-fit: cover;
}

.home .information {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}

.home .information img {
    max-width: 150px;
}

.home .information .list-games{
    display: flex;
    gap: 32px;
}

.home .information .title {
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .information .text {
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
}

.btn-pay, .btn-plataforms {
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #FFF;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-plataforms {
    color: #FFF;
    width: 100%;
    cursor: pointer;
}

.btn-pay:hover {
    background-color: #FFF;
    color: #000;
}

.pay-now .game-gta {
    width: 270px;
}

.pay-now {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
}

.pay-now .title {
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 50px;
}

.pay-now .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 50%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

.pay-now .information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pay-now .information h3 {
    font-family: 'ChaletComprime';
    font-size: 52px;
    font-weight: 700;
}

.pay-now .information p {
    color: #E8E8E8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.pay-now .information .plataforms {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.pay-now .btn-plataforms .plataforms {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.pay-now .btn-plataforms .plataforms.ativo{
    display: flex;
    opacity: 1;
}

.pay-now .btn-plataforms .plataforms li {
    padding: 20px;
}

.pay-now .btn-plataforms .plataforms li:nth-child(1) {
    border: 1px solid #00439c;
}

.pay-now .btn-plataforms .plataforms li:nth-child(2) {
    border: 1px solid #00439c;
}

.pay-now .btn-plataforms .plataforms li:nth-child(3) {
    border: 1px solid #387a26;
}

.pay-now .btn-plataforms .plataforms li:nth-child(4) {
    border: 1px solid #387a26;
}

.pay-now .btn-plataforms .plataforms li:nth-child(5) {
    border: 1px solid #FCAF17;
}


.pay-now .btn-plataforms .plataforms li:nth-child(1):hover{
    border: 1px solid #ffffff;
    background-color: #025dd4;
}

.pay-now .btn-plataforms .plataforms li:nth-child(2):hover {
    border: 1px solid #ffffff;
    background-color: #025dd4;
}

.pay-now .btn-plataforms .plataforms li:nth-child(3):hover {
    border: 1px solid #ffffff;
    background-color: #347423;
}

.pay-now .btn-plataforms .plataforms li:nth-child(4):hover {
    border: 1px solid #ffffff;
    background-color: #347423;
}

.pay-now .btn-plataforms .plataforms li:nth-child(5):hover {
    border: 1px solid #ffffff;
    background-color: #7c570c;
}